@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: #0E0B16;
}

.header{
    padding: 15px;
    margin: .1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header .logo{
    margin-left: 2%;
}

.header .nav{
    margin-right: 2%;
}

.header .nav a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0 15px;
}

.header .nav i{
    padding: 0 6px;
}

/* registro */

.registroInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130vh;
}

.articleInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 20%;
    padding: 30px;
}

.articleInicio p{
    font-size: 25px;
}

.articleInicio i{
    font-size: 30px;
    padding: 0 12px;
}

.sectionInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(76,0,125,0.45);
    position: relative;
    width: 80vh;
    height: 110vh;
    border-radius: 35px;
    overflow: hidden;
    bottom: 30px;
    box-shadow: 0 0 10px #5F0093, 0 0 20px #5F0093 , 0 0 40px #5F0093;
}

.sectionInicio  form{
    width: 85%;
    height: 90%;
}

.formulario .nombre{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px;
}

.formulario .nombre input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.formulario .apellido{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px;
}

.formulario .apellido input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.sectionInicio .correo{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px;
}

.sectionInicio .correo input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.sectionInicio .contra{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}

.sectionInicio .contra input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.formulario .repetirContra{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}

.formulario .repetirContra input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.formulario .pregunta{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}



.formulario .seleccionarPregunta select{
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
    cursor: pointer;
    appearance: none;
}

.formulario .respuesta{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}

.formulario .escribirRespuesta input{
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.sectionInicio .formulario .contenedorBoton{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 40px 0 30px;
}

.sectionInicio .formulario .botonLimpiar{
    width: 40%;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;/*
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;*/
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #0f0019;
    transition: .2s;
}

.botonLimpiar:hover{
    box-shadow: 0 0 10px #7A0A7B, 0 0 20px #7A0A7B , 0 0 40px #7A0A7B;
    transition-delay: 1s;
}

.formulario .contenedorBoton .botonRegistrar{
    width: 40%;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;/*
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;*/
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #0f0019;
    transition: .2s;
}

.botonRegistrar:hover{
    box-shadow: 0 0 10px #E20053, 0 0 20px #E20053 , 0 0 40px #E20053;
    transition-delay: 1s;
}

.sectionInicio a{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
}

/* footer */

.footer{
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*border-top: 0.3px solid #fff;*/
}

.footer .tituloSeccion{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 0px 15px;    
}

.footer .redesSociales{
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.boton{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 15px;
}