@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: #0E0B16;
}

.header{
    padding: 15px;
    margin: .1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header .logo{
    margin-left: 2%;
}

.header .nav{
    margin-right: 2%;
}

.header .nav a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0 15px;
}

.header .nav i{
    padding: 0 6px;
}

/* container */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220vh;
    width: 100%;
}

.container .primerArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.primerArticle h3{
    color: #7B00BD;
    text-align: center;
    font-size: 45px;
    padding: 20px 0 30px;
}

.primerArticle p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 20px 0 30px;
}

.container .segundoArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.segundoArticle .segundoIzq{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.segundoIzq h3{
    color: #7B00BD;
    text-align: center;
    font-size: 45px;
    padding: 20px 0 30px;
}

.segundoIzq p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 20px 0 30px;
}

.segundoArticle .segundoDer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segundoDer i{
    color: #fff;
    font-size: 400px;
}

.container .tercerArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.tercerArticle .tercerIzq{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tercerIzq i{
    color: #fff;
    font-size: 400px;
}

.tercerArticle .tercerDer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tercerDer h3{
    color: #7B00BD;
    text-align: center;
    font-size: 45px;
    padding: 20px 0 30px;
}

.tercerDer p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 20px 0 30px;
}


.cuartoArticle{
    width: 66px;
    height: 66px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: -1;
}

.cuartoArticle .botonRegresar{
    position: absolute;
    width: 0px;
    height: 0px;
    background: #E20053;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.botonRegresar i{
    position: absolute;
    font-size: 17px;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .botonRegresar{
    animation: popup .3s ease-in-out;
    width: 66px;
    height: 66px;
    z-index: 11;
    box-shadow: 0 0 10px #E20053, 0 0 20px #E20053 , 0 0 40px #E20053;
}

.show i{
    transform: translate(-50%,-50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 80px;
        height: 80px;
    }
    100%{
        width: 66px;
        height: 66px;
    }
}

/* footer */

.footer{
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .tituloSeccion{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 0px 15px;    
}

.footer .redesSociales{
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.boton{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 15px;
}