@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: #0E0B16;
}

.header{
    padding: 15px;
    margin: .1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header .logo{
    margin-left: 2%;
}

.header .nav{
    margin-right: 2%;
}

.header .nav a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0 15px;
}

.header .nav i{
    padding: 0 6px;
}

/* Section */

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.row .sectionIzq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.row .sectionIzq h3{
    color: #fff;
    font-size: 45px;
    align-content: center;
    text-align: justify;
    margin-left: 18%;
    padding: 15px 0 30px;
}

.row .sectionIzq .botonMasInformacion{
    width: 200px;
    height: 45px;
    font-size: 19px;
    border-radius: 30px;
    margin-left: 26%;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    /*background: linear-gradient(90deg,#AB00B9,30%,#E20053);*/
}


.botonMasInformacion:hover{
    background: #E20053;
    box-shadow: 0 0 10px #E20053, 0 0 20px #E20053 , 0 0 40px #E20053;
    transition-delay: 1s;
}

.row .sectionDer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.row .sectionDer i.atras{
    color: #105B16;
    font-size: 400px;
    position: relative;
    border: none;
    outline: none;
}

.row .sectionDer i.adelante{
    position: absolute;
    color: rgb(226,0,83);
    font-size: 300px;
    top: 25%;
    left: -15%;
    
}

/* footer */

.footer{
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .tituloSeccion{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 0px 15px;    
}

.footer .redesSociales{
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.boton{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 15px;
}

/* registro */

.registroInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.articleInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 25%;
    padding: 30px;
}

.articleInicio p{
    font-size: 25px;
}

.articleInicio i{
    font-size: 30px;
    padding: 0 12px;
}

.sectionInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(76,0,125,0.45);
    position: relative;
    width: 80vh;
    height: 54vh;
    border-radius: 35px;
    overflow: hidden;
    bottom: 30px;
    box-shadow: 0 0 10px #5F0093, 0 0 20px #5F0093 , 0 0 40px #5F0093;
}

.sectionInicio  form{
    width: 85%;
    height: 90%;
}

.formulario .nombre{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px;
}

.formulario .nombre input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.formulario .apellido{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px;
}

.formulario .apellido input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.sectionInicio .correo{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px;
}

.sectionInicio .correo input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.sectionInicio .contra{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}

.sectionInicio .contra input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.formulario .repetirContra{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}

.formulario .repetirContra input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.formulario .pregunta{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}



.formulario .seleccionarPregunta select{
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
    cursor: pointer;
    appearance: none;
}

.formulario .respuesta{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}

.formulario .escribirRespuesta input{
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.sectionInicio .formulario .contenedorBoton{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 40px 0 30px;
}

.sectionInicio .formulario .botonLimpiar{
    width: 40%;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;/*
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;*/
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #0f0019;
    transition: .2s;
}

.botonLimpiar:hover{
    box-shadow: 0 0 10px #7A0A7B, 0 0 20px #7A0A7B , 0 0 40px #7A0A7B;
    transition-delay: 1s;
}

.formulario .contenedorBoton .botonRegistrar{
    width: 40%;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;/*
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;*/
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #0f0019;
    transition: .2s;
}

.botonRegistrar:hover{
    box-shadow: 0 0 10px #E20053, 0 0 20px #E20053 , 0 0 40px #E20053;
    transition-delay: 1s;
}

.sectionInicio a{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
}

/* iniciar sesion */


.loginInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
}

.articleInicio{
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 30px;
}

.articleInicio p{
    font-size: 25px;
}

.articleInicio i{
    font-size: 30px;
    padding: 0 12px;
}

.sectionInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(76,0,125,0.45);
    position: relative;
    width: 80vh;
    height: 45vh;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0 0 10px #5F0093, 0 0 20px #5F0093 , 0 0 40px #5F0093;
}

.sectionInicio  form{
    width: 85%;
    height: 75%;
}

.sectionInicio .correo{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px;
}

.sectionInicio .correo input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.sectionInicio .contra{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 15px 20px;
}

.sectionInicio .contra input{
    width: 275px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 28px;
    align-content: center;
    background-color: rgb(255,255,255,0.15);
    font-size: 14px;
    color: #fff;
    padding: 0 15px 0 15px;
    text-align: center;
}

.sectionInicio .formulario .contenedorBoton{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 15px 0 30px;
}

.sectionInicio .formulario .botonIniciar{
    width: 50%;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #0f0019;
    transition: .2s;
}

.botonIniciar:hover{
    box-shadow: 0 0 10px #7A0A7B, 0 0 20px #7A0A7B , 0 0 40px #7A0A7B;
    transition-delay: 1s;
}

.sectionInicio a{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
}

/* container */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220vh;
    width: 100%;
}

.container .primerArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.primerArticle h3{
    color: #7B00BD;
    text-align: center;
    font-size: 45px;
    padding: 20px 0 30px;
}

.primerArticle p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 20px 0 30px;
}

.container .segundoArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.segundoArticle .segundoIzq{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.segundoIzq h3{
    color: #7B00BD;
    text-align: center;
    font-size: 45px;
    padding: 20px 0 30px;
}

.segundoIzq p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 20px 0 30px;
}

.segundoArticle .segundoDer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segundoDer i{
    color: #fff;
    font-size: 400px;
}

.container .tercerArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.tercerArticle .tercerIzq{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tercerIzq i{
    color: #fff;
    font-size: 400px;
}

.tercerArticle .tercerDer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tercerDer h3{
    color: #7B00BD;
    text-align: center;
    font-size: 45px;
    padding: 20px 0 30px;
}

.tercerDer p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 20px 0 30px;
}


.cuartoArticle{
    width: 66px;
    height: 66px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: -1;
}

.cuartoArticle .botonRegresar{
    position: absolute;
    width: 0px;
    height: 0px;
    background: #E20053;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.botonRegresar i{
    position: absolute;
    font-size: 17px;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .botonRegresar{
    animation: popup .3s ease-in-out;
    width: 66px;
    height: 66px;
    z-index: 11;
    box-shadow: 0 0 10px #E20053, 0 0 20px #E20053 , 0 0 40px #E20053;
}

.show i{
    transform: translate(-50%,-50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 80px;
        height: 80px;
    }
    100%{
        width: 66px;
        height: 66px;
    }
}